body {
  background: rgb(0, 0, 0);
  color: white;
}

.body-container {
  display: flex;
  margin-top: 20px;
}

.sidebar-container {
  padding: 20px 20px;
  margin-right: 20px;
  background: rgb(33, 32, 32);
  border: none;
  width: 450px;
}

.mainBody-container {
  padding: 20px 20px;
  margin-right: 20px;
  background: rgb(33, 32, 32);
  border: none;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.app-icon {
    width: 50px;
}

.search-input {
  width: 300px;
  padding: 10px 10px;
  border-radius: 50px;
}

.nav-btn {
  width: 100px;
  padding: 20px 20px;
  border-radius: 50px;
  background: rgb(0, 157, 255);
  color: white;
  border: none;
  margin-right: 10px;
}

.sidebar-btn {
  width: 200px;
  padding: 10px 10px;
  border-radius: 20px;
  border: none;
}

.artist-container {
  display: flex;
  flex-wrap: wrap;
}

.singer-card {
  padding: 10px 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.singer-card:hover {
  background-color: rgb(52, 50, 50);
}
.singer-img  {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.singer-header {
  display: flex;
  justify-content:space-between;
}

.showAll-btn  {
  width: 100px;
  height: 50px;
  border-radius: 30px;
  border: none; 
}

.footer-container {
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
}

i {
  margin-right: 10px;
}

.form-container  {
  width: 400px;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  padding: 30px 30px;
  background-color: rgb(52, 50, 50);
}

input {
  width: 350px;
  padding: 20px 20px;
  margin-bottom: 10px;
  border-radius: 30px;
  border: none;
}

.login-btn {
  width: 200px;
  padding: 10px 10px;
  border-radius: 20px;
  background: rgb(0, 157, 255);
  border: none;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.singer-card-link  {
  text-decoration: none;
  color: white;
}